/* your styles go here */
.hero {
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
}
.divider {
  background: url("../img/divider-bg.jpg");
  background-size: cover;
  background-position: center bottom;
}
.text-overflow {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
