{% extends 'base.html' %} {% block content %} {% load tags %}
<div class="container">
  <div class="row">
    {% block blog_content %} {% endblock blog_content %}
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <div class="widget search">
        <header>
          <h3 class="h6">Search the blog</h3>
        </header>
        <form action="blog" class="search-form">
          <div class="form-group">
            <input
              type="search"
              name="search"
              placeholder="Que estas buscando?"
            />
            <button type="submit" class="submit">
              <i class="icon-search"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- Widget [Latest Posts Widget]        -->
      <div class="widget latest-posts">
        <header>
          <h3 class="h6">Ultimos Posts</h3>
        </header>
        <div class="blog-posts">
          {% get_latest_three as latest %} {% for post in latest %}
          <a href="{% url 'articulo' slug=post.slug %}">
            <div class="item d-flex align-items-center">
              <div class="image">
                <img
                  src="{{ post.cover.url }}"
                  alt="{{ post.nombre }}"
                  class="img-fluid"
                />
              </div>
              <div class="title">
                <strong>{{ post.nombre }}</strong>
                <div class="d-flex align-items-center">
                  <div class="comments">
                    {% for tag in post.tags.all %} #{{ tag }}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <!-- Widget [Categories Widget]-->
      <div class="widget categories">
        <header>
          <h3 class="h6">Categorias</h3>
        </header>
        {% get_categories as categorias %} 
        {% for key, value in categorias.items%}
        <div class="item d-flex justify-content-between">
          <a href="#">{{ key }}</a>
          <span>{{ value }}</span>
        </div>
        {% endfor %}
      </div>
      <!-- Widget [Tags Cloud Widget]-->
      <div class="widget tags">
        <header>
          <h3 class="h6">Tags</h3>
        </header>
        <ul class="list-inline">
          {% get_tags as tags %} {% for tag in tags %}
          <li class="list-inline-item">
            <a href="#" class="tag">#{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
{% endblock content %}
