{% extends 'base_blog.html' %} {% load static %}
<div class="container">
  <div class="row">
    {% block blog_content %}
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <!-- post -->

          {% for post in articulos %}
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="post.html"
                ><img
                  src="{{ post.cover.url }}"
                  alt="{{ post.nombre }}"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ post.created }}</div>
                <div class="category">
                  {% for categoria in post.categorias.all %}
                  <a href="#">{{ categoria }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="{% url 'articulo' slug=post.slug %}">
                <h3 class="h4">
                  {{ post.nombre }}
                </h3>
              </a>
              <div class="text-overflow">
                <p class="text-muted">{{ post.contenido | safe }}</p>
              </div>
              <footer class="post-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar">
                    <img
                      src="{{ post.autor.foto.url }}"
                      alt="{{ post.autor }}"
                      class="img-fluid"
                    />
                  </div>
                  <div class="title">
                    <span>{{ post.autor }}</span>
                  </div>
                </a>
                <div class="comments meta-last">
                  {% for tag in post.tags.all %} #{{ tag }}
                  {% endfor %}
                </div>
              </footer>
            </div>
          </div>
          {% empty %}
          <img
            class="img-fluid"
            src="{% static 'blog/img/not-found.png' %}"
            alt="Not found"
          />
          {% endfor %}
        </div>
        <!-- Pagination -->

        {% if is_paginated %}
        <nav aria-label="Page navigation example">
          <ul
            class="pagination pagination-template d-flex justify-content-center"
          >
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a
                href="?page={{ page_obj.previous_page_number }}"
                class="page-link"
              >
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            {% endif %} {% for i in paginator.page_range %}
            <li class="page-item">
              {% if page_obj.number == i %}
              <a href="#" class="page-link active">{{ i }}</a>
              {% else %}
              <a href="?page={{ i }}" class="page-link">{{ i }}</a>
              {% endif %}
            </li>
            {% endfor %} {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                <i class="fa fa-angle-right"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </main>
    {% endblock blog_content %}
  </div>
</div>
