{% extends 'base.html' %} {% block content %}
<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1>Todo sobre programacion</h1>
        <a href="#" class="hero-link">Discover More</a>
      </div>
    </div>
    <a href=".intro" class="continue link-scroll"
      ><i class="fa fa-long-arrow-down"></i> Scroll Down</a
    >
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Todo lo que necesitas saber sobre programacion</h2>
        <p class="text-big">
          <strong>All programming blog</strong> surge como un proyecto que busca
          enseñar todo lo que los nuevos aspirantes a programadores necesitan
          saber. Aqui encontraras desde
          <strong
            >tutoriales, nuevas tendencias en la industria, snipets de
            codigo</strong
          >
          hasta cosas administrativas como
          <strong
            >hacer presupuestos, como generar facturas si eres un desarrollador,
            etc.</strong
          >
          Todos esto y mucho mucho mas.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Featured post -->
<section class="featured-posts no-padding-top">
  <div class="container">
    {% for destacado in destacados %}
    <div class="row d-flex align-items-stretch">
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for categoria in destacado.categorias.all %}
                <a href="#">{{ categoria }}</a>
                {% endfor %}
              </div>
              <a href="post.html">
                <h2 class="h4">
                  {{ destacado.nombre }}
                </h2>
              </a>
            </header>
            <div class="text-overflow">
              <p>
                {{ destacado.contenido | safe }}
              </p>
            </div>
            <footer class="post-footer d-flex align-items-center">
              <a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img
                    src="{{ destacado.autor.foto.url }}"
                    alt="{{ destacado.autor }}"
                    class="img-fluid"
                  />
                </div>
                <div class="title">
                  <span>{{ destacado.autor }}</span>
                </div>
              </a>
              <div class="date">
                <i class="icon-clock"></i> {{ destacado.created }}
              </div>
            </footer>
          </div>
        </div>
      </div>
      <div class="image col-lg-5">
        <img src="{{ destacado.cover.url }}" alt="{{ destacado.cover }}" />
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Divider Section-->
<section class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Tu mejor opcion para amprender programacion</h2>
        <a href="#" class="hero-link">View More</a>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Ultimos post del blog</h2>
      <p class="text-big">
        Revisa las ultimas entradas del blog, quizas encuentres lo que
        necesitas.
      </p>
    </header>
    <div class="row">
      {% for post in latest %}
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="post.html"
            ><img
              src="{{ post.cover.url }}"
              alt="{{ post.nombre }}"
              class="img-fluid"
          /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ post.created }}</div>
            <div class="category">
              {% for categoria in post.categorias.all %}
              <a href="#">{{ categoria }}</a>
              {% endfor %}
            </div>
          </div>
          <a href="post.html">
            <h3 class="h4">{{ post.nombre }}</h3></a
          >
          <div class="text-overflow">
            <p class="text-muted">{{ post.contenido | safe }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
